# set ignore=dirty to not care about dirty status
[submodule "vim/bundle/vim-pathogen"]
	# manage runtimepath!
	ignore = dirty
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git

[submodule "vim/bundle/vim-polygot"]
	# A solid language pack for Vim
	ignore = dirty
	path = vim/bundle/vim-polygot
	url = https://github.com/sheerun/vim-polyglot

[submodule "vim/bundle/vim-bad-whitespace"]
	# hightlight bad whitespace
	ignore = dirty
	path = vim/bundle/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git

[submodule "vim/bundle/vim-fugitive"]
	# fugitive.vim may very well be the best Git wrapper of all time
	ignore = dirty
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive

[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git

[submodule "vim/bundle/taglist.vim"]
	# Source code browser (supports C/C++, java, perl, python, tcl, sql,
	# php, etc) -- taglist.vim require 'ctags' executable!
	ignore = dirty
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git

[submodule "vim/bundle/wikipedia.vim"]
	# This file is for people who use external editors to work on articles
	# on Wikipedia and other MediaWiki sites.
	ignore = dirty
	path = vim/bundle/wikipedia.vim
	url = https://github.com/vim-scripts/wikipedia.vim.git

[submodule "vim/bundle/vim-template"]
	# This is a simple plugin for Vim that will allow you to have a set of
	# templates for certain file types
	ignore = dirty
	path = vim/bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
